In [2]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.arange(0,20).reshape(5,4), index=['Row1','Row2','Row3','Row4','Row5'], columns=['Column1','Column2','Column3','Column4'])
df

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [4]:
df.head()

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [5]:
df.to_csv('practice.csv')

In [6]:
df.loc['Row1']

Column1    0
Column2    1
Column3    2
Column4    3
Name: Row1, dtype: int32

In [8]:
df.iloc[1,2]

6

In [9]:
df.iloc[1:,2:]

      Column3  Column4
Row2        6        7
Row3       10       11
Row4       14       15
Row5       18       19

In [10]:
#CONVERT TO DATAFRAME TO ARRAT

df.iloc[:,2:].values

array([[ 2,  3],
       [ 6,  7],
       [10, 11],
       [14, 15],
       [18, 19]])

In [11]:
df

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [12]:
df.iloc[:,2:].values.shape

(5, 2)

In [13]:
df.iloc[:,2:].value_counts()

Column3  Column4
2        3          1
6        7          1
10       11         1
14       15         1
18       19         1
Name: count, dtype: int64

In [14]:
df.isnull().sum()

Column1    0
Column2    0
Column3    0
Column4    0
dtype: int64

In [17]:
df['Column1'].unique()

array([ 0,  4,  8, 12, 16])

In [18]:
df['Column2']

Row1     1
Row2     5
Row3     9
Row4    13
Row5    17
Name: Column2, dtype: int32

In [31]:
import os
print(os.path.exists('E:\\MCA\\Python\\Python_Practice\\Mercedesbenz.csv'))

True