In [6]:
import pandas as pd
from six import StringIO

data = '{"employee_name":"james", "email":"james@gmail.com", "job_profile":[{"title1":"Team Lead", "title2": "sr.Developer"}]}'
# df1 = pd.read_json(StringIO(data))
df1 = pd.read_json(data)
df1

C:\Users\SUDEEP\AppData\Local\Temp\ipykernel_29488\424857819.py:6: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df1 = pd.read_json(data)

,employee_name,email,job_profile
0,james,james@gmail.com,"{'title1': 'Team Lead', 'title2': 'sr.Developer'}"

In [7]:
df1.to_json()

'{"employee_name":{"0":"james"},"email":{"0":"james@gmail.com"},"job_profile":{"0":{"title1":"Team Lead","title2":"sr.Developer"}}}'

In [ ]:
#we can also able to read the HTML
#pd.read.html(url)

In [ ]:
#pickle files